<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WpfApp1.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="InTime" serializeAs="String">
                <value>9:30</value>
            </setting>
            <setting name="LaterTime" serializeAs="String">
                <value>9:40</value>
            </setting>
            <setting name="NoneTime" serializeAs="String">
                <value>10:00</value>
            </setting>
            <setting name="OutTime" serializeAs="String">
                <value>18:00</value>
            </setting>
            <setting name="EmptyType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaterType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NoneType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TimeTypes" serializeAs="String">
                <value>0:00,0:00,2,True,Firebrick,上班未打卡|
0:00,9:30,0,True,ForestGreen,|
9:30,9:40,1,True,Sienna,|
9:40,10:00,1,True,Firebrick,|
10:00,12:00,2,True,Firebrick,|
12:00,18:00,0,True,Firebrick,|
18:00,22:00,0,False,Green,|
22:00,0:00,0,False,Green,|
0:00,0:00,2,False,DarkGoldenrod,下班未打卡</value>
            </setting>
            <setting name="OrgTimeTypes" serializeAs="String">
                <value>0:00,0:00,2,True,Firebrick,上班未打卡|
0:00,9:30,0,True,ForestGreen,|
9:30,9:40,1,True,Sienna,|
9:40,10:00,1,True,Firebrick,|
10:00,12:00,2,True,Firebrick,|
12:00,18:00,0,True,Firebrick,|
18:00,22:00,0,False,Green,|
22:00,0:00,0,False,Green,|
0:00,0:00,2,False,DarkGoldenrod,下班未打卡</value>
            </setting>
        </WpfApp1.Properties.Settings>
    </userSettings>
</configuration>